.wrapping-row {
  display: grid;
  justify-content: center;
  gap: 18px 20px;
  grid-template-columns: repeat(auto-fill, minmax(min(325px, 100%), 353px));
}

.wrapping-row__display-contents {
  display: contents;
}

@media (min-width: 1440px) {
  .wrapping-row {
    grid-template-columns: repeat(auto-fill, 353px);
  }
}

@media (min-width: 800px) {
  .wrapping-row {
    grid-template-columns: repeat(auto-fill, 353px);
  }
}
